<div class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/img/cat1.jpg" alt="brand" id="logo-img">
            </a>
        </div>
    </div>
</div>

<div class="landing-container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="login-section">
            <div class="row">
                <a href="/auth/signup" class="landing-link">Sign Up</a>
            </div>
            <br>
            <div class="row">
                <a href="/auth/login" class="landing-link">Login</a>
            </div>
            <div class="row">
                <a href="/auth/logout" class="landing-link">Logout</a>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" id="modalButton">
            Launch demo modal
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<!-- Custom Script -->
<script src="/js/profile-modal.js" type="text/javascript"></script>