<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Profile Editor</h4>
      </div>
      <div class="modal-body">
        
        <form>
            <div class="input-group">
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                <br>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                <br>
                <input type="text" class="form-control" id="employer" placeholder="Employer">
                <br>
                <input type="text" class="form-control" id="location" placeholder="Location">
                <br>
                <input type="text" class="form-control" id="hometown" placeholder="Hometown">
                <br>
                <input type="text" class="form-control" id="intro" placeholder="Brief Intro">
            </div>

            <div class="horizontal-scroll">
                <div class="col-md-12">
                    <div class="row">
                        <div class="image-select"><img id="cat-select" src="/img/cat2.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat4.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat6.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat8.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat10.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat12.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat14.jpg"/></div>
                    </div>
                    <div class="row">
                        <div class="image-select"><img id="cat-select" src="/img/cat3.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat5.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat7.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat9.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat11.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat13.jpg"/></div>
                        <div class="image-select"><img id="cat-select" src="/img/cat15.jpg"/></div>
                    </div>
                    </select>
                </div>
            </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/img/cat1.jpg" alt="brand" id="logo-img">
            </a>
        </div>
    </div>
</div>

<div class="landing-container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="login-section">
            <div class="row">
                <a href="/index" class="landing-link">Sign Up</a>
            </div>
            <div class="row">
                <a href="/index" class="landing-link">Login</a>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" id="modalButton">
            Launch demo modal
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<!-- Custom Script -->
<script src="/js/profile-modal.js" type="text/javascript"></script>