<div class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/img/cat1.jpg" alt="brand" id="logo-img">
            </a>
        </div>
    </div>
</div>

<div class="landing-container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="login-section">
            <div class="row">
                <a href="/auth/google" class="landing-link">Login with Google</a>
            </div>
            <div class="row">
                <a href="/auth/logout" class="landing-link">Logout</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>