html, body {
    height: 100%;
}

body {
    background-color: #F4F9F2;
}

.landing-container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
}

.navbar-inverse {
    background-color: #1C1C1C;
    border-color: rgb(153, 60, 54);
}

#login-section {
    text-align: center;
}

#logo-img {
    height: 80px;
    position: absolute;
    top: 0px;
    float: left;
}