html, body {
    height: 100%;
}

body {
    background-color: #F4F9F2;
}

.landing-container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
}

.navbar-inverse {
    background-color: #1C1C1C;
    border-color: rgb(153, 60, 54);
}

.navbar-brand {
    width: 115px;
}

#panel-body {
    height: 50px;
}

#login-section {
    text-align: center;
}

#logo-img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0px;
    float: left;
}

#cohort-img {
    height: 245px;
    width: 230px;
    border-radius: 5px;
}

.photo-row {
    margin: auto;
}

.photo-grid {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
}

#profile-box {
    height: 365px;
}

.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}