html, body {
    height: 100%;
}

body {
    background-color: #F4F9F2;
}

.landing-container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
}

.navbar-inverse {
    background-color: #1C1C1C;
    border-color: rgb(153, 60, 54);
}

.navbar-brand {
    width: 115px;
}

#login-section {
    text-align: center;
}

#logo-img {
    height: 80px;
    width: 70px;
    position: absolute;
    top: 0px;
    float: left;
    margin-left: 8px;
}

#my-profile-img {
    margin-right: 16px;
}

.panel-profile-img {
    border-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.panel-post-profile-img {
    border-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    height: 60px;
    width: 60px;
}

.panel-comment-profile-img {
    border-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    height: 40px;
    width: 40px;
}

#cohort-img {
    height: 245px;
    width: 230px;
    border-radius: 5px;
}

.bootcamp-link {
    font-weight: bold;
}

.photo-row {
    margin: auto;
}

.photo-grid {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.panel-title {
    margin-top: 10px;
}

#social-panel {
    margin-top: 30px;
}

.social-img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

#profile-box {
    height: 365px;
    margin-left: -36px;
    margin-right: -36px;
}

.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#triggerModal {
    margin-left: 16px;
}

.cat-select {
    height: 75px;
    width: 75px;
    margin-bottom: 4px;
    margin-left: 4px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;   
}

.color-select {
    height: 75px;
    width: 75px;
    border-style: solid;
    border-width: 0px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

.profile-select-label {
    text-align: center;
}

#dark-turquoise {
    background-color: #00bcd4;
}

#dark-slate-blue {
    background-color: #3f51b5;
}

#dark-orchid {
    background-color: #9c27b0;
}

#crimson {
    background-color: #e91e63;
}

#chocolate {
    background-color: #db4437;
}

#dark-orange {
    background-color: #ff9800;
}

#light-green {
    background-color: #9afe66;
}

.profile-form {
    list-style: none;
}

.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
}

#cat-image-select {
    width: 100%;
}

.features {
    font-size: 20px;
}

#user-logo-icon {
    position: relative;
    /*top: 10px;*/
    left: 20px;
}

#flash-logo-icon {
    position: relative;
    /*top: 10px;*/
    left: 25px;
}

#retweet-logo-icon {
    position: relative;
    /*top: 10px;*/
    left: 25px;
}

#google-logo-icon {
    width: 60px;
}

